<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">

<head th:replace="fragments :: head"></head>
<div>

<nav th:replace="fragments :: navigation"></nav>

<h1 class="display-5">Grocery List</h1>

<p th:unless = "${cheeses} and ${cheeses.size()}">No Items</p>

    <!--<div th:if="${#lists.contains(cart, cheese)}">-->

<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Price</th>
        <th></th>
    </tr>

    <tr th:each ="cheese : ${cheeses}">

        <td th:text ="${cheese.name}"></td>
        <td th:text ="${cheese.description}"></td>
        <td th:text="${cheese.type}"></td>
        <td th:text ="${cheese.price}"></td>
        <td>

            <div class="btn-group">

            <div th:if="${#lists.contains(cart, cheese)}">

            <form method="post">
                <button type="submit" id="changeBtn" class="btn btn-success btn-sm" name = "cheeseId" th:value="${cheese.id}" th:id="${cheese.id}">Remove Item</button>
            </form>
            </div>

            <div th:unless="${#lists.contains(cart, cheese)}">
                <form method="post">
                    <button type="submit" id="changeBtn" class="btn btn-success btn-sm" name = "cheeseId" th:value="${cheese.id}" th:id="${cheese.id}">Add to Cart</button>
                </form>
            </div>

            </div>

        </td>
    </tr>
</table>

    <br>

    <h3 class="display-5">
        <span>Order Total: $</span>
        <span th:text="${total}"></span>
    </h3>

    <br>

    <form method="get" action="/cheese/checkout" th:if="${cart.size()}">
        <button type="submit" class="btn btn-primary">Check Out</button>
    </form>

</body>
</html>